*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    
    background-image: url(https://images.unsplash.com/photo-1642334640124-c80d5e7e78d3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
#container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 10px 5px 5px gray;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
#container i{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}
#container span{
    color: red;
}
#container p{
    margin-left: 10px;
}